header {
    height: 40vh;
    padding: 0% 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#city-data {
    display: flex;
    align-items: center;
}

#temperature-display {
    margin-right: 3rem;
    font-size: 12rem;
    font-weight: 900;
    cursor: pointer;
    text-shadow: 5px 5px 25px #ffffff70;
}

#city-infos {
    border-left: 2px solid white;
    padding-left: 3rem;
}

#city-infos > h1 {
    font-size: 4rem;
}

#city-infos > h3 {
    font-size: 1.5rem;
}

#city-infos > h4 {
    font-size: 1.25rem;
}

@media screen and (max-width: 1500px) {
    #city-data {
        flex-direction: column;
    }

    #temperature-display {
        margin-right: 0;
        font-size: 9rem;
    }
    
    #city-infos {
        border-left: 0;
        padding-left: 0;
    }
}

@media screen and (max-width: 850px) {
    header {
        height: 50vh;
        margin: 25% 0 10% 0;
        flex-direction: column;
    }

    #temperature-display {
        font-size: 8rem;
    }

    #city-infos > h1 {
        font-size: 3rem;
    }
}