main {
    padding: 4% 20%;
    min-height: 55vh;
}

main > h1 {
    font-size: 5rem;
    text-align: center;
    margin-bottom: 0.7%;
}

main > h3 {
    font-size: 1.75rem;
    text-align: center;
    margin-bottom: 5%;
}

main > #details-meteo {
    height: 100%;
    display: flex;
    margin: 0 auto;
    align-items: center;
    gap: 3%;
    flex-wrap: wrap;
}

main > #details-meteo > * {
    flex : 1
}

main > #details-meteo > span {
    font-size: 4rem;
    font-weight: 900;
    text-align: right;
    border-left: 1px solid grey;
}

main > #details-meteo > ul {
    margin: auto auto;
    list-style-type: none;
    width: 50%;
    font-size: 1.3rem;
}

@media screen and (min-width: 1500px) {

    main {
        height: 55vh;
    }
}

@media screen and (min-width: 851px) and (max-width: 1500px) {

    main > #details-meteo {
        gap: 5%;
    }

    main > #details-meteo > * {
        flex : 40%;
        margin: 2.5% 0;
    }
}

@media screen and (max-width: 850px) {

    main > #details-meteo {
        gap: 5%;
    }

    main > #details-meteo > * {
        flex : 80%;
        margin: 5% 0;
    }
}